/*DEFINE AS CONFIGURAÇÕES EM TODOS ELEMENTO DA PÁGINA*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

/*CRIADO VARIÁVEIS*/
:root{
    --cor01: #052945;
    --cor02: #f7f6f5;
    --cor03: #ffffff;
    --cor04: #4caf50;
    --cor05: #ffc107;
    --cor06: #f44336;
}

/*FORMATANDO A TAG main PELO ID geral*/
#geral{
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

/*FORMATANDO O CEBEÇALHO*/
#cabecalho{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 60px;
    height: 100px;
    color: var(--cor01);
}

#div-form{
    width: 400px;
    min-height: 500px;
    margin: 0px auto;
    padding: 20px;
    background-color: var(--cor01);
    border-radius: 8px;
    /*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
}


label{
    display: block;
    margin: 10px 0px;
    text-transform: uppercase;
    font-size: 0.8em;
}

.input-vlr01{
    width: 320px;
    min-height: 30px;
    display: block;
    margin: 12px auto;
    border: none;
    outline: none;
    padding: 0 12px;
}

.input-vlr02{
    width: 320px;
    min-height: 100px;
    display: block;
    margin: 12px auto;
    border: none;
    resize: none;
    outline: none;
    padding: 10px 12px;
}

.input-vlr01::placeholder,
.input-vlr02::placeholder{
    color: var(--cor01);
    font-size: 1.2em;
    font-style: italic;
    padding: 0px;
    margin: 0;
}

#form p {
    color: var(--cor03);
    margin-top: 15px;
    margin: 20px auto;
}

.div-prioridade{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 15px;
    margin: 10px 0;
}

.div-prioridade label {
    display: inline;
    color: var(--cor03);
    margin: 0;
}

label[for=datatarefa]{
    color: var(--cor03);
    display: block;
    margin: 15px auto;
}

.input-vlr03 {
    width: 320px;
    min-height: 30px;
    display: block;
    margin: 12px auto;
    border: none;
    outline: none;
}

#div-btns{
    width: 320px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
}

button{
    width: 152px;
    height: 35px;
    background-color: var(--cor03);
    cursor: pointer;
    color: var(--cor01);
    border: none;
    outline: none;
    font-size: 0.9em;
}

#container-principal {
    display: flex;
    justify-content: center;
    align-items: flex-start; 
    gap: 25px;               
    margin: 20px auto;
}

#div-status {
    display: flex;
    flex-direction: column;
    gap: 15px
}

.card-status {
    background-color: var(--cor01);
    color: var(--cor03);
    width: 160px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
}

.card-status h3 {
    font-size: 1.1em;
    margin: 0;
}

#quadrados_urgencia{
    display: flex;
    justify-content: flex-start;
    gap: 15px;
    margin: 20px auto;
    width: 585px;
}

.card-prio {
    color: black;
    width: 120px;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    text-align: center;
    font-weight: bold;
    padding: 10px;
}

.card-prio.baixa {
    background-color: var(--cor04);
}

.card-prio.media {
    background-color: var(--cor05);
}

.card-prio.alta {
    background-color: var(--cor06);
}